{% load workspaces %}
{# header #}
<h3>Geeltje(s)</h3>
<div><img src="{{ symbol_url }}"/>&nbsp;</div>
{# body #}
<div>
  <table class="noprint generic-table">
    <thead>
      <tr>
        <th>
          Onderwerp
        </th>
        <th>
          Beschrijving
        </th>
        {% if add_snippet %}
        <th>
          Voeg toe
        </th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% for display_object in display_group %}
        <tr>
          <td>{{ display_object.name }}</td>
          <td>{{ display_object.object.description }}</td>
          {% if add_snippet %}
          <td>
            {% with display_object.header as header %}
            <a href=""
            class="add-snippet ss_chart_line_add ss_sprite"
            data-workspace-id="{{ display_object.workspace_item.workspace.id }}"
            data-workspace-item-id="{{ display_object.workspace_item.id }}"
            data-item-identifier='{{ display_object.identifier|json_escaped }}'
            data-item-shortname="{{ display_object.shortname }}"
            data-item-name="{{ header.name }}"></a>
            {% endwith %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
