{# Stickies screen #}
{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block subtitle %} Geeltjes {% endblock %}

{% block breadcrumbs %}
<a href="{% url homepage %}">home</a>
&rarr;
<a href="{% url analysis_start %}" class="lizard-map-link">analyse</a>
&rarr;
<a href="{% url sticky-browser %}" class="lizard-map-link">geeltjes</a>
{% endblock %}

{% block map-javascript-global %}
{# pure javascript code that must be inserted in the map-javascript block #}
    var pointLayer, pointController;
{% endblock %}

{% block head-extras %}
{# this block must come after the map-javascript block, so we use head-extras #}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_sticky/lizard_sticky.js"></script>
{% endblock %}

{% block sidebar %}
<div id="sticky" 
     data-url-lizard-sticky-add="{% url lizard_sticky.add_sticky %}" 
     class="sidebarbox">
  <h2>Geeltjes</h2>
  <form id="sticky">
    <input id="sticky_navigate" type="radio" name="sticky" value="sticky_navigate" checked>Navigeren</input>
    <input id="sticky_add" type="radio" name="sticky" value="add_sticky">Plak geeltje</input>
  </form>
  </ul>
</div>
<div id="sticky-browser"
     class="sidebarbox sidebarbox-stretched">
  <h2>Geeltjes bladeren</h2>
  <ul id="sticky-browser-list" class="automatic-tree filetree">
    <li class="workspace-acceptable file sticky-browser-item"
        data-name="Geeltjes"
        data-adapter-class="adapter_sticky"
        data-adapter-layer-json='{}'>
      <span class="file">alle geeltjes</li>
    <li class="sticky-browser-item">
      <span class="folder">op tags</span>
      <ul>
        {% for tag in tags %}
        <li class="workspace-acceptable file"
            data-name="Geeltjes ({{ tag }})"
            data-adapter-class="adapter_sticky"
            data-adapter-layer-json='{"tags": ["{{ tag.slug }}"]}'>
          <span class="file">{{ tag }}</span>
        </li>
        {% empty %}
        <li><span class="file">geen tags</span></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
<!-- TODO: mooie popup div>
  <div class="popup hide"
     id="add-sticky">
    <h1>Geeltje</h1>
    <div>
      <form action="{% url lizard_map.set_date_range %}"
            method="post">
        <p><input type="submit" value="Plak geeltje" /></p>
      </form>
    </div>
  </div>
</div-->

{% for workspace in workspaces.user %}
  {% workspace workspace %}
{% empty %}
No workspace
{% endfor %}

{% endblock %}
