{# Stickies screen #}
{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block subtitle %} Meldingen {% endblock %}

{% block css %}
  {{ block.super }}
<link rel="stylesheet"
      href="{{ STATIC_URL }}lizard_sticky/lizard_sticky.css"
      type="text/css"
      media="screen, projection" />
{% endblock css %}

{% block map-javascript %}
{{ block.super }}
<script type="text/javascript"
        src="{{ STATIC_URL }}lizard_sticky/lizard_sticky.js"></script>
{% endblock %}

{% block sidebar %}
<div id="sticky"
     data-url-lizard-sticky-add="{% url lizard_sticky.add_sticky %}"
     class="sidebarbox">
  <h2>Meldingen{% block linkback %}{% endblock %}</h2>
  <form id="sticky" class="form-horizontal">
    <div class="control-group">
        <label class="radio" for="sticky-navigate">
            <input class="controls" id="sticky-navigate" type="radio" name="sticky" value="sticky_navigate" />
            Navigeren
        </label>
    </div>
    <div class="control-group">
        <label class="radio" for="sticky-add">
            <input class="controls" id="sticky-add" type="radio" name="sticky" value="sticky_add" />
            Melding plaatsen
        </label>
    </div>
  </form>
  </ul>

  {# The add-sticky popup div #}
  <div class="popup hide"
       id="add-sticky">
    <h1>Melding</h1>
    <div>
      <strong>Nieuwe melding</strong>
      <form id="add-sticky" style="background-color: lightyellow;" method="post">{% csrf_token %}
      <fieldset>
        <div>
          <label for="reporter" id="reporter">Naam</label>
          <input id="sticky-reporter" type="text" name="reporter" />
        </div>
        <div>
          <label for="title" id="title">Onderwerp</label>
          <input id="sticky-title" type="text" name="title" />
        </div>
        <div>
          <label for="description" id="description">Beschrijving</label>
          <textarea id="sticky-description" name="description" rows="2" cols="30"></textarea>
        </div>
        <div>
          <label for="tags">Kernwoorden</label>
          <input id="sticky-tags" type="text" name="tags" />
        </div>
      </fieldset>
      <button id="submit-sticky" type="submit">Sla op</button>
      <input id="sticky-x" type="hidden" name="x" value="" />
      <input id="sticky-y" type="hidden" name="y" value="" />
      </form>
    </div>
  </div>
</div>

<div id="sticky-browser"
     class="sidebarbox sidebarbox-stretched">
  <h2>Meldingen bladeren</h2>
  <ul id="sticky-browser-list" class="automatic-tree filetree">
    <li class="workspace-acceptable node sticky-browser-item"
        data-name="Meldingen"
        data-adapter-class="adapter_sticky"
        data-adapter-layer-json='{}'>
      <div class="hitarea">
        <span class="folder">alle meldingen</span>
      </div>
    </li>
    <li class="node sticky-browser-item">
      <div class="hitarea">
        <span class="folder">op kernwoorden</span>
      </div>
      <ul>
        {% for tag in view.tags %}
        <li class="workspace-acceptable leaf"
            data-name="Meldingen ({{ tag }})"
            data-adapter-class="adapter_sticky"
            data-adapter-layer-json='{"tags": ["{{ tag.slug }}"]}'>
          {{ tag }}
        </li>
        {% empty %}
        <li>geen kernwoorden</li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>

{% endblock %}
